/* ----------banner for logo-------------- */

#banner {
    height:275px;
    text-align: center;
    background: url('bird.png') no-repeat top left;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
  }


#banner img {
    padding:10px 0px;
  }


#bannertitle {
    padding-top:0px;
    font-size:6em;
    font-weight:130;
    font-family: cursive, verdana,'lucida grande', arial, sans-serif;
  }

/*display loading icon in background - can be seen till scratch game loads*/
#content {
    background:#ffffff url('loading.gif') no-repeat top center;
    padding: 0px;
    margin-left: 200px;
    margin-right: 0px;
  }

